*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #333333;
}

::-webkit-scrollbar {
  width: 10px;
}


/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  */

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rrs__track{
  background-color: rgb(204, 204, 204) !important;
}

.rrs__range{
  background-color: rgb(28, 185, 84) !important;
}